body,
html {
    height: 100%;
}

.flex-grow {
    flex: 1 0 auto;
}

.bmd-layout-canvas {
    flex-grow: 1;
}

body * {
    font-family: 'Arial'!important;
}

body i,
span {
    font-family: 'FontAwesome'!important;
}

.main-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-main-menu a {
    text-align: left !important;
}

fieldset {
    width: 100%;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 9px;
    margin-bottom: 10px;
}

a:hover{
    text-decoration: none;
}

legend {
    width: unset;
    line-height: inherit;
    color: #333;
    border: 0;
}